<table class="table" id="tblHistoryPengujian">
  <thead>
    <tr>
      <th>Kode Pengujian</th>
      <th>Waktu Uji</th>
      <th>Citra</th>
      <th>Hasil</th>
    </tr>
  </thead>
  {% for pengujian in data_pengujian %}
  <tr>
    <td>{{ pengujian.kd_uji }}</td>
    <td>{{ pengujian.waktu_pengujian }}</td>
    <td><img src="{{ BASE_URL }}ladun/data_pengujian/{{ pengujian.kd_uji }}.png" style="width:100px;"></td>
    {% if pengujian.hasil_final == '001' %}
    <td>Naskhi</td>
    {% elif pengujian.hasil_final == '002' %}
    <td>Tsuluts</td>
    {% elif pengujian.hasil_final == '003' %}
    <td>Diwani</td>
    {% else %}
    <td>Diwani Jali</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<script>
    $('#tblHistoryPengujian').dataTable();
</script>