{% load static %}
{% csrf_token %}
<div class="container" id="divPengujian">
  <div class="row">
    <div class="card-body">
      <div class="summary">
        <div class="summary-info">
          <h4>[[ titleForm ]]</h4>
          <img src="https://s3-id-jkt-1.kilatstorage.id/nadhamedia/set_img.png" style="width:30%;" id="txtPreviewUpload">
          <div class="text-muted">Silahkan input citra</div>
          <div class="d-block mt-2">
            
          </div>
          <input type="file" id="txtFoto" onchange="setImg()">
          <div style="margin-top:20px;">
            <a href="#!" class="btn btn-primary btn-lg" @click="mulaiAnalisaAtc()">Mulai analisa citra</a>
          </div>
        </div>
        <div class="summary-item" style="display:none;" id="divHasilEkstraksi">
          <h6>Hasil Ekstraksi Citra</h6>
        </div>
      </div>
    </div>
  </div>
</div>

 <script src="{% static "/dasbor/pengujian.js" %}"></script>