{% load static %}

{% include "layout/header_home.html" %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container" id="divHeader">
                <div class="masthead-subheading" style="margin-top:60px;">Aplikasi pengenalan {{ arti }}</div>
                <div class="masthead-heading text-uppercase">Pola tulisan Kaligrafi</div>
                <div class="masthead-subheading">Menggunakan metode Zernike Moment dan Support Vector Machine</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ BASE_URL }}login">Login to App</a>
                <div style="margin-top:20px;">
                <a href="{{ BASE_URL }}pengujian-depan" class="btn btn-success btn-xl text-uppercase js-scroll-trigger">Start Pengujian</a>
                </div>
            </div>
        </header>

{% include "layout/footer_home.html" %}